{% extends 'base.html'%}
{% block title%}
{{details.seed_name}} Help
{% endblock%}
{%block content %}
<div>
    <h2>Resources</h2>
    <ul class="list-group">
        <li class="list-group-item"><a href="https://youtu.be/z1OKXaHON20">Learn about these seeds</a></li>
        <li class="list-group-item"><a href="https://youtu.be/z1OKXaHON20">Learn about chemicals used</a></li>
        <li class="list-group-item"><a href="https://youtu.be/z1OKXaHON20">Learn about seed quality</a></li>
    </ul>

    <div>
        {% endblock%}